<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.optimisticlock.mapper.NumberSourceMapper" >

    <select id="getNumberSource" resultType="com.xc.optimisticlock.entity.NumberSource">
        SELECT * FROM number_source WHERE id = #{id}
    </select>
    <update id="decreaseNumberSourceStockByIdAndVersion">
        UPDATE number_source SET stock = stock - 1, version = version + 1 WHERE id = #{id} AND stock > 0 AND version = #{version}
    </update>
    <insert id="insertOrder">
        INSERT INTO `order` (uid, did) VALUES (#{uid}, #{did})
    </insert>
</mapper>