<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.springtransaction.mapper.TransactionMapper" >


    <insert id="insertFoo">
        insert into foo (`id`,`fooName`) values (#{id},#{fooName})
    </insert>
    <update id="updateFoo">
        update foo set fooName = #{fooName} where id = #{id}
    </update>

    <insert id="insertBar">
        insert into bar (`id`,`barName`) values (#{id},#{barName})
    </insert>
    <update id="updateBar">
        update bar set barName = #{barName} where id = #{id}
    </update>
</mapper>